In [19]:
#Import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [2]:
#read dataset

df = pd.read_csv(r"C:\Users\Samuel Oluwatoba\Documents\ZaranTech\Assignments 2\ML Project Hiring Challenge\ML Project Hiring Challenge\Hiring_Challenge.csv")

In [17]:
#understand dataset

df.head()
df.isnull()
df.describe()
df.dtypes

C1        object
C2        object
C3       float64
C4        object
C5        object
C6        object
C7        object
C8       float64
C9        object
C10       object
C11        int64
C12       object
C13       object
C14       object
C15        int64
Hired      int64
dtype: object

In [21]:
#transform strings labels to floats using LabelEncoder

from sklearn import preprocessing

In [26]:
le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)

In [28]:
#drop useless variables/columns that has no efect on our dependent variable, eg, C6
#and re-adjust dataset, obtaining our dependent and independent variables 

x= df.drop(["C6", "Hired"], axis = 1)
y = df.Hired

In [29]:
#split dataset for train and test purposes

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.7)

In [30]:
#Train/Biuld model
lm= LogisticRegression()
lm.fit(x_train, y_train)

C:\Users\Samuel Oluwatoba\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
#make predictions based on the trained model
lm.predict(x_test)

array([0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1],
      dtype=int64)

In [32]:
#Check accuracy of model
lm.score(x_test, y_test)

0.8426501035196687

In [38]:
#create a table to see how our model faired


df1 = pd.concat([x_test, y_test], axis=1)
df1.assign(prediction = lm.predict(x_test))

,C1,C2,C3,C4,C5,C7,C8,C9,C10,C11,C12,C13,C14,C15,Hired,prediction
304,1,91,188,2,1,4,36,0,0,0,0,0,74,1,0,0
589,2,98,18,2,1,8,7,1,1,7,1,0,167,213,1,1
352,2,69,168,3,3,8,36,0,0,0,1,0,0,205,0,0
123,1,263,120,2,1,8,101,1,1,3,1,0,0,0,1,1
619,2,26,158,3,3,8,3,1,0,0,0,0,8,104,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,2,18,93,2,1,8,6,0,0,0,0,2,159,0,0,0
153,2,76,65,2,1,8,27,1,1,11,1,0,147,185,1,1
503,2,129,104,2,1,8,83,1,1,2,0,0,116,7,1,1
456,2,192,0,0,0,0,0,0,0,0,0,1,170,0,0,1
518,1,128,12,2,1,8,15,1,1,4,0,0,159,0,1,1